/* =================================
  Main App Styling
==================================== */

* {
	box-sizing: border-box;
}

:local(.wrapper) {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

:local(.header) {
  display: block;
  float: center;
  text-align: center;
  margin: 0 10%;
  padding: 0 5%;
}

small {
  display: block;
  text-align: center;
}

/* ---- Navigation ---- */

.nav {
	margin-top: 5px;
  float: center;
}

.nav li {
	display: block;
	text-align: center;
	padding: 10px 15px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

  :local(.header) {
    display: block;
    float: left;
    text-align: left;
    margin: 0 auto;
    padding: 0 5%;
    width: 100%;
  }

  small {
    display: inline;
  }

	.wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.nav {
		float: right;
    width: 100%
	}

	.nav li {
		margin-left: 15px;
	}
}

@media (min-width: 1025px) {

  :local(.header) {
    display: block;
    float: left;
    text-align: left;
    margin: 0 auto;
    padding: 0 5%;
    width: 100%;
  }

  small {
    display: inline-block;
  }

	.wrapper {
		width: 80%;
		max-width: 1150px;
	}

  .nav {
    float: right;
    width: 100%;
  }

  .nav li {
    margin-left: 15px;
  }

}
