/* =================================

pale blue = #7986AC
light blue = #50608F
dark blue = #162656
midnight = #061339

/* =================================
	Base Element Styling
==================================== */

* {
	box-sizing: border-box;
}

a {
	color: #7986AC;
	font-weight: bold;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

h1,
h2,
h3
{
	color: #061339;
}

h4 {
	margin-bottom: .4em;
}

img {
	display: block;
	border: 1px solid black;
	margin: 0 auto;
	max-width: 100%;
}

input {
	display: block;
}

input[type=text],
input[type=email],
textarea
{
	width: 90%;
}

textarea {
	display: block;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

small {
  display: block;
	font-weight: lighter;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
}

/* =================================
	Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.nav {
	margin-top: 5px;
	padding: 0px;
	width: 100%;
	list-style-type: none;
}

.nav a {
	display: block;
	text-align: center;
	padding: 10px 15px;
	font-size: .95em;
	background-color: #50608F;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}

.nav a:hover {
	background-color: #162656;
	color: silver;
}

/* ---- Form and Validation ---- */

.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input {
	padding: 1px;
	margin: 10px;
}

textarea {
	padding: 1px;
	margin: 10px;
}

input[type=text]:valid {
	border-color: green;
	border-style: double;
}

input[type=text]:invalid {
	border-color: red;
	border-style: double;
}

input[type=email]:valid {
	border-color: green;
	border-style: double;
}

input[type=email]:invalid {
	border-color: red;
	border-style: double;
}

textarea:valid {
	border-color: green;
	border-style: double;
}

textarea:invalid {
	border-color: red;
	border-style: double;
}

#submitStatus[status="success"] {
	color: forestgreen;
	background-color: lightgreen;
}

#submitStatus[status="error"] {
	color: firebrick;
	background-color: tomato;
}

/* ---- Layout Containers ---- */



.header {
	background-color: #50608F;
	padding-top: 0;
	padding-bottom: 0;
}

.title {
	color: white;
	text-align: center;
	width: 100%;
	margin: 0;
}

.skill {
  max-width: 1200px;
	margin:0 auto;
}

.skills li {
	display: inline-block;
	border-radius: 25px;
	text-align: center;
	padding: 10px 15px;
	background-color: #50608F;
	color: white;
	text-transform: uppercase;
	float: center;
}

.wrapper {
	padding-right: 1em;
	padding-left: 1em;
}

.footer {
	background-color: #50608F;
	color: white;
	padding: 1.5em 0;
	margin-top: 30px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	body {
		padding-top: 68px;
	}

	small {
		display: inline;
	}

	.header {
		position: fixed;
		box-shadow: 0 1px 4px rgba(0,0,0,.4);
		width: 100%;
		top: 0;
		z-index: 1000;
	}

	.nav {
		float: right;
		text-align: right;
		width: 45%
	}

	.nav li {
		display: inline-block;
		font-size: .75em;
		width: auto;
	}

	.title {
		float: left;
		font-size: 1.6em;
		margin: 0;
		padding-left: 10px;
		text-align: left;
		width: 55%
	}

	.wrapper {
		width: 90%;
		margin: 0 auto;
		min-height: 100%;
	}

}

@media (min-width: 1025px) {

	.wrapper {
		width: 80%;
		max-width: 1150px;
		min-height: 100%;
	}

}
